.main
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    background: white;
    min-height: 100%;
    text-align: center;
.breadcrumb-wrapper
    text-align: left;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(228, 228, 228, 1);
    line-height: 40px;

.k-table .k-tbody
    text-align: left;