<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>项目名称</title>
    <link rel="dns-prefetch" href="//fe.ksyun.com/">
    <link rel="dns-prefetch" href="//resource.ksyun.com/">
    <link rel="icon" href="//fe.ksyun.com/project/resource/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="//fe.ksyun.com/last/base.css">
</head>

<body>
    <!-- 内容区域 -->
    <div id="app">
        <router-view />
    </div>
    <!-- built files will be auto injected -->
</body>

</html>